/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

/* Tailwind Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000;
  --text-color: #fff;
  --border-color: #fff;
  --hover-bg-color: #1a1a1a;
  --focus-bg-color: #333;
  --focus-border-color: #fff;
  --placeholder-color: #aaa;
  --transition-speed: 0.3s;
}

input {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 12px;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  outline: none;
  transition: background-color var(--transition-speed),
  border-color var(--transition-speed),
  transform var(--transition-speed);
}

input::placeholder {
  color: var(--placeholder-color);
  transition: color var(--transition-speed);
}

input:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.02);
}

input:focus {
  background-color: var(--focus-bg-color);
  border-color: var(--focus-border-color);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

input:focus::placeholder {
  color: var(--text-color);
}

/* Global Styles */
html {
  font-family: "Inter", sans-serif;
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #333; /* Dark scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #fff; /* White border for a modern effect */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light track for contrast */
  border-radius: 10px; /* Rounded corners for the track */
}


@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/* Glassmorphism Utility */
.glassmorphism {
  @apply bg-white/25 shadow-lg backdrop-blur-lg border border-white/20;
}

/* Layout and Components */
.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}

.home-content {
  @apply flex-1 xl:justify-center justify-start flex flex-col gap-10;
}

.head-text {
  @apply xl:text-[6rem] text-[4rem] xl:leading-[9rem] leading-[5rem] font-black text-black;
}

.download-btn {
  @apply w-14 h-14 flex justify-center items-center rounded-full glassmorphism cursor-pointer outline-none;
}

.editortabs-container {
  @apply glassmorphism w-16 border-2 rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}

.filtertabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}

.filepicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[495px] h-[520px] flex flex-col rounded-md;
}

.filepicker-label {
  @apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
}

.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

/* Input Styles */
input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

/* Sketch Picker Customizations */
.sketch-picker {
  @apply w-[170px] glassmorphism rounded-md m-5 !important;
}

/*.sketch-picker > div:nth-child(3) {*/
/*  @apply hidden !important;*/
/*}*/
